version: '2'
networks:
  docker0:
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: "compose0"
      com.docker.network.enable_ipv6: "false"
      com.docker.network.bridge.enable_ip_masquerade: "true"
    ipam:
      driver: default
      config:
      - subnet: 172.20.0.0/24
        gateway: 172.20.0.1
